{% extends 'base.html' %}

{% block title %}
File Allocation
{% endblock %}

{% block body %}
<h1>File Allocation</h1>
<p>The allocation methods define how the files are stored in the disk blocks. There are three main disk space or file
    allocation methods.</p>
<ul>
    <li>Contiguous Allocation</li>
    <li>Linked Allocation</li>
    <li>Indexed Allocation</li>
</ul>
<p>The main idea behind these methods is to provide:</p>
<ul>
    <li>Efficient disk space utilization.</li>
    <li>Fast access to the file blocks.</li>
    <li>All the three methods have their own advantages and disadvantages.</li>
</ul>
{% endblock %}