{% extends 'disk_scheduling/ds_base.html' %}

{% block algo_link %}
<script type="module" src="/static/js/disk_scheduling/cscan.js"></script>
{% endblock %}

{% block wiki %}
<p>In SCAN algorithm, the disk arm again scans the path that has been scanned, after reversing its direction. So, it may
  be possible that too many requests are waiting at the other end or there may be zero or few requests pending at the
  scanned area.</p>
<p>These situations are avoided in CSCAN algorithm in which the disk arm instead of reversing its direction goes to the
  other end of the disk and starts servicing the requests from there. So, the disk arm moves in a circular fashion and
  this algorithm is also similar to SCAN algorithm and hence it is known as C-SCAN (Circular SCAN). </p>
{% endblock %}