{% extends 'base.html' %}

{% block title %}
    Team
{% endblock %}

{% block body %}
    <div class="team-div">
        <h1>Team Members</h1>
        <table class="table table-hover">
            <tr>
                <th>Member</th>
                <th>Roll No.</th>
            </tr>
            <tr>
                <td>Sunil Thunga</td>
                <td>221CS252</td>
            </tr>
            <tr>
                <td>Vikas kushwaha</td>
                <td>221CS260</td>
            </tr>
            <tr>
                <td>Tarun Dinesh Joshi</td>
                <td>221CS256</td>
            </tr>
            <tr>
                <td>Vaibhav Anurag</td>
                <td>221CS258</td>
            </tr>
            <tr>
                <td>Varahi Suvarna</td>
                <td>221CS259</td>
            </tr>
            <tr>
                <td>Syed Farhan</td>
                <td>221CS254</td>
            </tr>
            <tr>
                <td>Srivatsan Suresh</td>
                <td>221CS251</td>
            </tr>
            <tr>
                <td>Tallamapuram Dileep</td>
                <td>221CS255</td>
            </tr>
            <tr>
                <td>Tumula Sarath Chandra</td>
                <td>221CS257</td>
            </tr>
            <tr>
                <td>Supritha K C</td>
                <td> 221CS253</td>
            </tr>
        </table>
    </div>
{% endblock %}
